<layout name="Layout/layout"/>

<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
            <span class="tab-back" id="detail-tab">商品描述</span>
            <span class="tab-back" id="mix-tab">会员价格</span>
            <span class="tab-back" id="properties-tab">商品属性</span>
            <span class="tab-back" id="gallery-tab">商品相册</span>
        </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__SELF__" method="post" name="theForm">
            <input type="hidden" name="id" value="<?php echo $data['id']?>"/>
            <input type="hidden" name="MAX_FILE_SIZE" value="2097152">

            <!-- 通用信息 -->
            <table width="90%" id="general-table" align="center" style="display: table;">
                <tbody>
                <tr>
                    <td class="label">商品主分类:</td>
                    <td>
                        <!--添加商品的分类-->
                        <select id="select_main_cat" name="cat_id">
                            <option value="">请选择分类</option>
                            <?php foreach($catDatas as $key => $value):?>
                            <option value="<?php echo $value['id'];?>"
                            <?php
                                    if($data['cat_id'] == $value['id'])
                                        echo "selected = 'selected'";
                                    else
                                        echo "";
                                ?>
                            ><?php echo str_repeat('-',8*$value['level']).$value['cat_name'];?></option>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">拓展分类:</td>
                    <td>
                        <div style="width: 160px;">
                            <button id="btn_add_category" style="float: left;">添加一个拓展分类</button>
                            <ul id="ul_category" style="padding-left:0px;list-style: none; float: left;">
                                <?php foreach($extCatDatasByGoodsId as $key1 => $value1):?>
                                    <li>
                                    <select name="ext_cat_id[]">
                                    <option value="">请选择拓展分类</option>
                                    <?php foreach($catGoodsData as $key2 => $value2):?>
                                    <option value="<?php echo $value2['id'];?>"
                                    <?php if($value1['cat_id']==$value2['id']) echo "selected='selected'";?>
                                    ><?php echo str_repeat('*',8*$value2['level']).$value2['cat_name'];?></option>
                                    <?php endforeach;?>
                                    </select>
                                    <button onclick="$(this).parent().remove();return false">删除拓展分类</button>
                                    </li>
                                <?php endforeach;?>
                                <!--<li>-->
                                <!--<select name="ext_cat_id[]">-->
                                <!--<option value="">请选择拓展分类</option>-->
                                <!--<?php foreach($catDatas as $key => $value):?>-->
                                <!--<option value="<?php echo $value['id'];?>"><?php echo str_repeat('-',8*$value['level']).$value['cat_name'];?></option>-->
                                <!--<?php endforeach;?>-->
                                <!--</select>-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
                <tr>
                    <td class="label">所在品牌：</td>
                    <td>
                        <?php buildSelect('brand','brand_id','id','brand_name',$data['brand_id']);?>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品名称：</td>
                    <td><input type="text" name="goods_name" value="<?php echo $data['goods_name']?>" size="60"/>
                        <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">市场售价：</td>
                    <td>
                        <input type="text" name="market_price" value="<?php echo $data['market_price']; ?>" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">本店售价：</td>
                    <td>
                        <input type="text" name="shop_price" value="<?php echo $data['shop_price']; ?>" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <!--<tr>-->
                <!--<td class="label">会员价格：</td>-->
                <!--<td>-->
                <!--<?php foreach($mlData as $k => $v):?>-->
                <!--<?php echo $v['level_name']?>:&nbsp;¥&nbsp;<input type="text"-->
                <!--name="member_price[<?php echo $v['id'];?>]"-->
                <!--size="8"/>元<br/>-->
                <!--<?php endforeach;?>-->
                <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" value="是"
                               name="is_on_sale" <?php if($data['is_on_sale']=='是') echo "checked";?>/>是
                        <input type="radio" value="否"
                               name="is_on_sale" <?php if($data['is_on_sale']=='否') echo "checked";?>/>否
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 商品描述 -->
            <table width="90%" id="detail-table" style="display: none;">
                <tbody>
                <tr>
                    <td align="center">
                        <textarea id="goods_desc" name="goods_desc"><?php echo $data['goods_desc']; ?></textarea>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 会员价格 -->
            <table width="90%" id="mix-table" style="display: none;" align="center">
                <tbody>
                <tr>
                    <td align="center" width="200">
                        <?php foreach($mlData as $k => $v):?>
                        <?php echo $v['level_name']?>:&nbsp;¥&nbsp;<input type="text"
                                                                          name="member_price[<?php echo $v['id'];?>]"
                        <?php foreach($mpData as $k2 => $v2):?>
                        <?php if($v2['level_id'] == $v['id']):?>
                        <?php echo "value='".$v2['price']."'";?>
                        <?php endif;?>
                        <?php endforeach;?>
                        size="8"/>元<br/>
                        <?php endforeach;?>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 商品属性 -->
            <table width="90%" id="properties-table" style="display: none;" align="center">
                <tbody>
                <tr><td align="center">
                    商品类型：<?php buildSelect('Type', 'type_id', 'id', 'type_name', $data['type_id']); ?>
                </td></tr>
                <tr>
                    <td align="center"><ul style="list-style: none;" id="attr_list">
                        <!-- 循环所有原属性值 -->
                        <?php
            		        $attrId = array();  // 所有出现过的属性ID
            		        foreach ($gaData as $k => $v):
                            // 判断如果这个属性ID第一次出现就是+否则是-
                            if(in_array($v['attr_id'], $attrId))
                                $opt = '-';
                            else
                            {
                                $opt = '+';
                                $attrId[] = $v['attr_id'];
                            }
                        ?>
                        <li>
                            <input type="hidden" name="goods_attr_id[]" value="<?php echo $v['id']; ?>" />
                            <?php if($v['attr_type'] == '可选'): ?>
                            <a onclick="addNewAttr(this);" href="#">[<?php echo $opt; ?>]</a>
                            <?php endif; ?>
                            <?php echo $v['attr_name']; ?> :
                            <?php if($v['attr_option_values']):
            						$attr = explode(',', $v['attr_option_values']);
            				 ?>
                            <select name="attr_value[<?php echo $v['attr_id']; ?>][]">
                                <option value="">请选择</option>
                                <?php foreach ($attr as $k1 => $v1):
                                    if($v1 == $v['attr_value'])
                                        $select = 'selected="selected"';
                                    else
                                        $select = '';
                                ?>
                                <option <?php echo $select; ?> value="<?php echo $v1; ?>"><?php echo $v1; ?></option>
                                <?php endforeach; ?>
                            </select>
                            <?php else: ?>
                                <input type="text" name="attr_value[<?php echo $v['attr_id']; ?>][]" value="<?php echo $v['attr_value']; ?>" />
                            <?php endif; ?>
                        </li>
                        <?php endforeach; ?>
                    </ul></td>
                </tr>
                </tbody>
            </table>

            <!-- 商品相册 -->
            <table width="90%" id="gallery-table" style="display: none;" align="center">
                <tbody>
                <tr>
                    <td class="label">商品Logo：</td>
                    <td>
                        <img src="/Public/Uploads/<?php echo $data['mid_logo'];?>" size="60"/>

                        <p><input type="file" name="logo" size="60"/></p>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品展示图片：</td>
                    <td>
                        <ul style="list-style: none">
                            <?php foreach($gpData as $k => $v):?>
                            <li style="margin-right: 10px;margin-top:10px; width: 60px;">
                                <img style="float: left;" src="/Public/Uploads/<?php echo $v['sm_pic']?>" sizes="60"/>
                                <button class="btn_del_pic" style="float: left;align:center;"
                                        gid-value="<?php echo $v['id'];?>">删除
                                </button>
                            </li>
                            <div style="clear: both;"></div>
                            <?php endforeach;?>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">添加商品展示图片：</td>
                    <td>
                        <ul id="ul_add_pic" style="list-style: none;">
                            <li><input type="file" name="goods_pics[]"/></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">操作:</td>
                    <td>
                        <input id="btn_add_pic" type="button" value="添加一张"/>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="button-div">
                <input type="hidden" name="goods_id" value="32">
                <input type="submit" value="确定" class="button">
                <input type="reset" value="重置" class="button">
            </div>
        </form>
    </div>
</div>

<iframe src="" frameborder="0" width="0" height="0" id="ifr"></iframe>
<script type="text/javascript" src="<?php echo C('HOME_JS_URL');?>/tab.js"></script>
<script type="text/javascript">
    function addImg(obj) {
        var src = obj.parentNode.parentNode;
        var idx = rowindex(src);
        var tbl = document.getElementById('gallery-table');
        var row = tbl.insertRow(idx + 1);
        var cell = row.insertCell(-1);
        cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
    }

    function removeImg(obj) {
        var row = rowindex(obj.parentNode.parentNode);
        var tbl = document.getElementById('gallery-table');
        tbl.deleteRow(row);
    }

    function dropImg(imgId) {
        Ajax.call('goods.php?is_ajax=1&act=drop_image', "img_id=" + imgId, dropImgResponse, "GET", "JSON");
    }

    function dropImgResponse(result) {
        if (result.error == 0) {
            document.getElementById('gallery_' + result.content).style.display = 'none';
        }
    }

    //增加一个属性行
    function addSpec(obj) {
        var src = obj.parentNode.parentNode;
        var idx = rowindex(src);
        var tbl = document.getElementById('attrTable');
        var row = tbl.insertRow(idx + 1);
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(-1);
        var regx = /<a([^>]+)<\/a>/i;

        cell1.className = 'label';
        cell1.innerHTML = src.childNodes[0].innerHTML.replace(/(.*)(addSpec)(.*)(\[)(\+)/i, "$1removeSpec$3$4-");
        cell2.innerHTML = src.childNodes[1].innerHTML.replace(/readOnly([^\s|>]*)/i, '');
    }

    /**
     * 删除一个属性行
     */
    function removeSpec(obj) {
        var row = rowindex(obj.parentNode.parentNode);
        var tbl = document.getElementById('attrTable');

        tbl.deleteRow(row);
    }

    /**
     * 处理
     */
    function handleSpec() {
        var elementCount = document.forms['theForm'].elements.length;
        for (var i = 0; i < elementCount; i++) {
            var element = document.forms['theForm'].elements[i];
            if (element.id.substr(0, 5) == 'spec_') {
                var optCount = element.options.length;
                var value = new Array(optCount);
                for (var j = 0; j < optCount; j++) {
                    value[j] = element.options[j].value;
                }

                var hiddenSpec = document.getElementById('hidden_' + element.id);
                hiddenSpec.value = value.join(String.fromCharCode(13)); // 鐢ㄥ洖杞﹂敭闅斿紑姣忎釜瑙勬牸
            }
        }
        return true;
    }

    //使用iframe动态获取属性
    function getAttrList(type_id) {
        var ifr = document.getElementById('ifr');
        ifr.src = "index.php?p=admin&c=attribute&a=getAttrs&type_id=" + type_id;
    }

</script>
<script type="text/javascript" src="<?php echo C('HOME_JS_URL');?>/utils.js"></script>
<script type="text/javascript" src="<?php echo C('HOME_JS_URL');?>/selectzone.js"></script>
<script type="text/javascript" src="<?php echo C('HOME_JS_URL');?>/colorselector.js"></script>
<!--添加在线编辑器的JS文件-->
<link href="<?php echo C('UMEDITOR_URL');?>/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="<?php echo C('UMEDITOR_URL');?>/third-party/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo C('UMEDITOR_URL');?>/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo C('UMEDITOR_URL');?>/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo C('UMEDITOR_URL');?>/umeditor.min.js"></script>
<script type="text/javascript" src="<?php echo C('UMEDITOR_URL');?>/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    //实例化编辑器
    var um = UM.getEditor('goods_desc', {
        initialFrameWidth: "100%",//初始化编辑器宽度,默认500
        initialFrameHeight: 500  //初始化编辑器高度,默认500
    });
</script>
<script>
    $('#btn_add_pic').click(function () {
        var file = '<li><input type="file" name="goods_pics[]"/></li>';
        $('#ul_add_pic').append(file);
    });
    $('.btn_del_pic').click(event, function () {
        var li = $(this).parent();
        var pid = $(this).attr('gid-value');
        alert(pid);
        $.ajax({
            type: "GET",
            url: '<?php echo U("ajaxDelPic","",FALSE)?>' + "/picid/" + pid,
            success: function (data) {
                li.remove();
            }
        });
        event.preventDefault();
    });

    $('#btn_add_category').click(function (event) {
        //$('#ul_category').append($('#ul_category').find('li').eq(0).clone());
        if (window.catDatas != null) {
            $('#ul_category').append(createSelect(window.catDatas));
        }
        event.preventDefault();
    });
    $('#select_main_cat').change(function () {
        var catId = $(this).val();//获取主分类ID
        $.ajax({
            type: 'GET',
            url: '<?php echo U("category/ajaxGetCats","",FALSE)?>/catid/' + catId,
            success: function (data) {
                window.catDatas = null;
                $('#ul_category').empty();
                window.catDatas = data;
                $('#ul_category').append(createSelect(data));
            },
            dataType: "json"
        });
    });

    $('#btn_del_ext_cat').click(function (event) {
        $(this).parent().remove();
        event.preventDefault();
    });

    //获取最新的子分类内容
    catDatas = <?php if($catGoodsDataJson){echo $catGoodsDataJson;}else {echo 'null';}?>;
    //创建select标签
    function createSelect(data) {
        var _ret = "";
        if (data != null && data.length > 0) {
            _ret = "<li>";
            _ret += "<select name='ext_cat_id[]'>";
            _ret += "<option>请选择拓展分类</option>";
            for (var i = 0; i < data.length; i++) {
                _ret += "<option value='" + data[i].id + "'>" + new Array(8).join("*") + data[i].cat_name + new Array(8).join("*") + "</option>";
            }
            _ret += "</select>";
            _ret+="<button onclick='$(this).parent().remove();return false'>删除拓展分类</button>";
            _ret += "</li>";
        }
        return _ret;
    }


    // 选择类型获取属性的AJAX
    $("select[name=type_id]").change(function(){
        // 获取当前选中的类型的id
        var typeId = $(this).val();
        // 如果选择了一个类型就执行AJAX取属性
        if(typeId > 0)
        {
            // 根据类型ID执行AJAX取出这个类型下的属性，并获取返回的JSON数据
            $.ajax({
                type : "GET",
                url : "<?php echo U('ajaxGetAttr', '', FALSE); ?>/type_id/"+typeId,
                dataType : "json",
                success : function(data)
                {
                    /** 把服务器返回的属性循环拼成一个LI字符串，并显示在页面中 **/
                    var li = "";
                    // 循环每个属性
                    $(data).each(function(k,v){
                        li += '<li>';

                        // 如果这个属性类型是可选的就有一个+
                        if(v.attr_type == '可选')
                            li += '<a onclick="addNewAttr(this);" href="#">[+]</a>';
                        // 属性名称
                        li += v.attr_name + ' : ';
                        // 如果属性有可选值就做下拉框，否则做文本框
                        if(v.attr_option_values == "")
                            li += '<input type="text" name="attr_value['+v.id+'][]" />';
                        else
                        {
                            li += '<select name="attr_value['+v.id+'][]"><option value="">请选择...</option>';
                            // 把可选值根据,转化成数组
                            var _attr = v.attr_option_values.split(',');
                            // 循环每个值制作option
                            for(var i=0; i<_attr.length; i++)
                            {
                                li += '<option value="'+_attr[i]+'">';
                                li += _attr[i];
                                li += '</option>';
                            }
                            li += '</select>';
                        }

                        li += '</li>'
                    });
                    // 把拼好的LI放到 页面中
                    $("#attr_list").html(li);
                }
            });
        }
        else
            $("#attr_list").html("");  // 如果选的是请 选择就直接清空
    });

    // 点击属性的+号
    function addNewAttr(a)
    {
        // $(a)  --> 把a转换成jquery中的对象，然后才能调用jquery中的方法
        // 先获取所在的li
        var li = $(a).parent();
        if($(a).text() == '[+]')
        {
            var newLi = li.clone();
            // 去掉选中状态
            newLi.find("option:selected").removeAttr("selected");
            // 把克隆出来的隐藏域里的ID清空
            newLi.find("input[name='goods_attr_id[]']").val("");
            // +变-
            newLi.find("a").text('[-]');
            // 新的放在li后面
            li.after(newLi);
        }
        else
        {
            // 先获取这个属性值的id
            var gaid = li.find("input[name='goods_attr_id[]']").val();
            // 如果没有ID就直接删除，如果有ID说明是旧的属性值需要AJAX删除
            if(gaid == '')
                li.remove();
            else
            {
                if(confirm('如果删除了这个属性，那么相关的库存量数据也会被一起删除，确定要删除吗？'))
                {
                    $.ajax({
                        type : "GET",
                        url : "<?php echo U('ajaxDelAttr?goods_id='.$data['id'], '', FALSE); ?>/gaid/"+gaid,
                        success : function(data)
                        {
                            // 再把页面中的记录删除
                            li.remove();
                        }
                    });
                }
            }
        }
    }
</script>